
._.git
._controller
._Include
._index.php
._model
._README.md
._view
controller/._activate_doctor_action.php
controller/._admin-reg-action.php
controller/._delete_staff_action.php
*.php
*.html
view/._CSS
view/._JS
*.css
*.js
view/JS/change_admin_password.js
view/JS/change_admin_password.js
view/JS/change_admin_password.js
