div.c1 {
	text-align: center;
	font-size: 15px;
}
.button {
  background-color: dodgerblue; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  padding: 13px 40px;
  border-radius: 5px;
  width: 90%;

}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: black;
}


